<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootmybatis.mapper.SysAdminMapper">
  <resultMap id="BaseResultMap" type="com.example.springbootmybatis.model.SysAdmin">
    <id column="adminID" jdbcType="VARCHAR" property="adminid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="last_date" jdbcType="TIMESTAMP" property="lastDate" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="del_date" jdbcType="TIMESTAMP" property="delDate" />
    <result column="is_role" jdbcType="INTEGER" property="isRole" />
  </resultMap>
  <sql id="Base_Column_List">
    adminID, name, password, create_date, last_date, is_del, del_date, is_role
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_admin
    where adminID = #{adminid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_admin
    where adminID = #{adminid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.springbootmybatis.model.SysAdmin">
    insert into sys_admin (adminID, name, password, 
      create_date, last_date, is_del, 
      del_date, is_role)
    values (#{adminid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{lastDate,jdbcType=TIMESTAMP}, #{isDel,jdbcType=INTEGER}, 
      #{delDate,jdbcType=TIMESTAMP}, #{isRole,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.springbootmybatis.model.SysAdmin">
    insert into sys_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        adminID,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="lastDate != null">
        last_date,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="delDate != null">
        del_date,
      </if>
      <if test="isRole != null">
        is_role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminid != null">
        #{adminid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastDate != null">
        #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="delDate != null">
        #{delDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isRole != null">
        #{isRole,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springbootmybatis.model.SysAdmin">
    update sys_admin
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastDate != null">
        last_date = #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="delDate != null">
        del_date = #{delDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isRole != null">
        is_role = #{isRole,jdbcType=INTEGER},
      </if>
    </set>
    where adminID = #{adminid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springbootmybatis.model.SysAdmin">
    update sys_admin
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_date = #{lastDate,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER},
      del_date = #{delDate,jdbcType=TIMESTAMP},
      is_role = #{isRole,jdbcType=INTEGER}
    where adminID = #{adminid,jdbcType=VARCHAR}
  </update>
</mapper>