.beg-login-bg {
	background: url(../images/loginBackageC.jpg) no-repeat center center fixed;
	/* background-color: #393D49; */
	background-color:#0076EA;
}

.beg-login-box {
    width: 450px;
    height: 330px;
    margin: 10% auto;
    /* background-color: rgba(255, 255, 255, 0.407843); */
    background-color: #fff;
    border-radius: 10px;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -165px;
    margin-left: -225px;
}

.beg-login-box header {
	height: 39px;
    padding: 10px;
    border-bottom: 1px solid #06CA81;
}

.beg-login-box header h1 {
	text-align: center;
    font-size: 25px;
    line-height: 40px;
    color: #06CA81;
}

.beg-login-box .beg-login-main {
	height: 185px;
	padding: 30px 90px 0;
}

.beg-login-main .layui-form-item {
	position: relative;
}

.beg-login-main .layui-form-item .beg-login-icon {
	position: absolute;
	color: #cccccc;
	top: 10px;
	left: 10px;
}

.beg-login-main .layui-form-item input {
	padding-left: 34px;
}

.beg-login-box footer {
	height: 35px;
    padding: 10px 10px 0 10px;
    color: #808080;
}

.beg-login-box footer p {
	line-height: 35px;
	text-align: center;
}

.beg-pull-left {
	float: left !important;
}

.beg-pull-right {
	float: right !important;
}

.beg-clear {
	clear: both;
}

.beg-login-remember {
	line-height: 38px;
}

.beg-login-remember .layui-form-switch {
	margin-top: 0px;
}

.beg-login-code-box {
	position: relative;
	padding: 10px;
}

.beg-login-code-box input {
	position: absolute;
	width: 100px;
}

.beg-login-code-box img {
	cursor: pointer;
	position: absolute;
	left: 115px;
	height: 38px;
}

.layui-btn-primary {
    border: 1px solid #06CA81;
    background-color: #06CA81;
    color: #fff;
    border-radius: 4px;
    font-weight: 700;
}
.layui-btn-primary:hover {
    border-color: #06CA81;
    background-color: #06CA81;
    color: #fff;
}