<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="commonHeand(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/js_lib/layui/css/layui.css}" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/common/common.css}" />

    <script type="text/javascript" charset="UTF-8" th:src="@{/js_lib/jquery.min.js}"></script>
    <script type="text/javascript" charset="UTF-8" th:src="@{/js_lib/html5.js}"></script>
    <script type="text/javascript" charset="UTF-8" th:src="@{/js_lib/layui/layui.js}"></script>
    <script type="text/javascript" charset="UTF-8" th:src="@{/js_lib/layui-xtree/layui-xtree.js}"></script>
    <script type="text/javascript" charset="UTF-8" th:src="@{/js_lib/jquery.cookie.js}"></script>
    <script type="text/javascript" charset="UTF-8" th:src="@{/js_lib/dateFormat.js}"></script>
</head>
</html>